---
import BaseLayout from "../../layouts/Base.astro";
const allPosts = await Astro.glob('./*.md');
---
<BaseLayout>
    <section>
        <h1>Liste des articles</h1>
        <ul>
            {
                allPosts.map((post) => (
                    <li>
                        <a href={`${post.url}/`}>{post.frontmatter.title}</a>
												<p>{post.frontmatter.description}</p>
												<img src={post.frontmatter.hero} alt="">
                    </li>
                ))
            }
        </ul>
    </section>
</BaseLayout>