---
 import BaseLayout from '../layouts/Base.astro'
---

<BaseLayout>
	
	<h1>Cinem'art</h1>
	<p>Bienvenu sur notre blog, retrouvez les dernières news sur l'art du cinéma'</p>

</BaseLayout>

<style>
:root {
	color-scheme: light dark;
}
</style>
