---
import BaseLayout from '../layouts/Base.astro'
---

<BaseLayout>
	
	<div class="intro">
		<h1>LE BLOG CINEM'ART</h1>
		<img src="/images/image-HP.jpg" alt="" width="900" height="675">
	</div>

		<p>Bienvenue sur Cinemart, le blog dédié au septième art ! Ici, vous trouverez une source inépuisable d'informations, d'analyses et de critiques sur le monde fascinant du cinéma.</p>
		<p>Que vous soyez un cinéphile passionné, un amateur curieux ou simplement à la recherche d'une bonne soirée cinéma, Cinemart est l'endroit idéal pour vous plonger dans l'univers magique des films. Notre équipe de rédacteurs passionnés vous propose des articles variés couvrant une large gamme de genres, des classiques du cinéma aux dernières sorties.</p>
		<p>Explorez nos critiques de films, découvrez des listes de recommandations, plongez dans des analyses approfondies et restez à jour avec les dernières actualités cinématographiques. Que vous soyez intéressé par le drame, l'action, la comédie, le thriller ou tout autre genre, Cinemart est là pour vous guider et nourrir votre passion pour le cinéma. Rejoignez-nous pour une expérience cinématographique enrichissante et captivante !</p>
</BaseLayout>


<style>
body{
	color: rgb(190, 30, 30);
}
.intro {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-flow: row wrap;
	align-items: center;
	gap: 40px;
}
.intro img {
	box-shadow: 10px 10px 0 0 red;
}
h1{
	font-size: 4rem;
	text-align: center;
	margin-bottom: 40px;
}

p{
	text-align: center;
	color: black;
	margin-top: 40px;
}
p + p {
	margin-top: 12px;
}
</style>

