<header>
	<h1>Cinem'Art</h1>

	<nav>
		<a href="">Accueil</a>
		<a href="">Articles</a>
		<a href="">Contact</a>
	</nav>
</header>

<style>
	h1 {
		font-size: 50px;
		color: #ffffff;
		line-height: 100px;
		text-transform: uppercase;
		font-weight: 800;
		text-align: center;
		background-color: #e33434;
	}

	nav {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		gap: 30px;
		background-color: #e33434;
		padding: 0 0 1% 0;
	}
</style>
